html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

body {
    font-size: 2.0rem;
    line-height: 1.6em;
    color: #3A4145;
    margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: AvenirLTStd-Black, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 2em;
    line-height: 1.2em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.2em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    color: #494949;
}

p, ul, ol {
    margin: 1.6em 0;
    font-family: "fira-sans", Helvetica, Arial, sans-serif;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

/*

Navigation
==========

*/

div.nav{
    position: fixed;
    left: 50%;
    margin-left: -152.5px;
    top: 0;
    z-index: -1;
}

div.nav ul{
    list-style: none;
    padding: 0;
    margin: 19px 0 0 0;
    text-align: center;
}

div.nav ul li{
    display: inline;
    margin: 10px;
}

div.nav ul li a{
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    font-family: AvenirLTStd-Black, Helvetica, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

div.nav ul li a:hover{
    color: #878786;
    transition: color 0.3s ease;
}

/* Post Header */

div.post_header{
    height: 72px;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #5b5b5b;
    z-index: -10;
    position: absolute;
    top: 0;
}

div.content{
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    background-color: white;
    z-index: 1;
    margin-top: 72px;
}

div.blog-container{
    max-width: 540px;
    margin: 0 auto;
}

section.post{
    padding: 4em 20px 2em;
}

a.post-title{
    margin-bottom: 0.2em;
    font-family: AvenirLTStd-Black, Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    color: #f2462a;
    text-decoration: none;
}

a.post-title:hover{
    color: #e54429;
    transition: color 0.3s ease;
}

span.post-meta{
    display: block;
    text-transform: uppercase;
    color: #b2b2b1;
    font-family: "fira-sans", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

p.post-excerpt{
    font-family: "fira-sans", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 0.9em;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-top: 1em;
}

/* Single Post */

section.single-post{
    padding: 4em 20px 2em;
}

section.single-post > p > img{
    width: 100%;
    height: auto;
}

/* Footer */

footer{
    padding: 10px 10px 10px 20px;
    border-top: 1px solid #eaeaea;
}

footer p{
    font-family: "fira-sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    color: #a8a8a8;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 30px);
    font-weight: 100;
}

footer a.icon-twitter{
    color: #55acee;
}
