{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block title %}The Blog of David Ingledow – {{ post.title }}{% endblock %}

<body id="{% block body_id %}blog{% endblock %}"
      class="{% block body_class %}single{% endblock %}">

{% block extra_css %}
    <style>
        a{
            color: {{ post.post_color }};
        }
        div.nav_bg{
            background-image: url({{ MEDIA_URL }}{{ post.header_image }});
            background-image: radial-gradient(transparent, rgba(0,0,0,0.4)),
                              url({{ MEDIA_URL }}{{ post.header_image }});
        }
    </style>
{% endblock %}

{% block content %}
    <div class="blog-container">
        <section class="post">
            <section class="post-title">
                <h1 class="post-title">{{ post.title }}</h1>
                <span class="post-meta">
                    {{ post.pub_date | date:"d F Y" }}
                </span>
            </section>
            {{ post.text | markdown }}
        </section>
    </div>
{% endblock %}
