{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block title %}The Blog of David Ingledow – {{ post.title }}{% endblock %}

{% block extra_meta %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dingledow">
    <meta name="twitter:title" content="@dingledow">
    <meta name="twitter:description" content="{{ post.excerpt }}">
    <meta name="twitter:creator" content="@dingledow">
    <meta name="twitter:image:src" content="{{ MEDIA_URL }}{{ post.header_image }}">
    <meta name="twitter:domain" content="http://david.ingledow.co.uk{{post.get_absolute_url}}">
{% endblock %}

<body id="{% block body_id %}blog{% endblock %}"
      class="{% block body_class %}single{% endblock %}">

{% block extra_css %}
    <style>
        a{
            color: {{ post.post_color }};
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("img").parent('p').addClass('image');
        });
    </script>
{% endblock %}

{% block content %}
    <div class="blog-container">
        <section class="post">
            <section class="post-title">
                <h1 class="post-title">{{ post.title }}</h1>
                <span class="post-meta">
                    {{ post.pub_date | date:"d F Y" }}
                </span>
            </section>
            {{ post.text | markdown }}
        </section>
    </div>
{% endblock %}
