/*==============================================================================

GLOBAL

==============================================================================*/

html{
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
    @media screen and (max-width: 600px){
        font-size: 56%;
    }
    @media screen and (max-width: 400px){
        font-size: 50%;
    }
}

body{
    font-size: 2.0rem;
    line-height: 1.6em;
    color: #4c4c4c;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    text-rendering: optimizeLegibility;
    line-height: 1;
    font-family: 'Mercury Display A', 'Mercury Display B',  Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a{
        color: #494949;
    }
}

h1 {
    font-size: 2em;
    line-height: 1.2em;
}
h2 {
    font-size: 1.5em;
    line-height: 1.2em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1em;
}
p, ul, ol {
    margin: 1.6em 0;
    font-family: 'Whitney A', 'Whitney B', "fira-sans", Helvetica,  Arial,  sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ol ol, ul ul, ul ol, ol ul {
    margin: 0.4em 0;
}

/*==============================================================================

NAVIGATION

==============================================================================*/

nav{
    position: fixed;
    left: 50%;
    margin-left: -152.5px;
    top: 0;
    z-index: -1;
    ul{
        list-style: none;
        padding: 0;
        margin: 19px 0 0 0;
        text-align: center;
        li{
            display: inline;
            margin: 10px;
            a{
                text-decoration: none;
                color: #878786;
                font-family: 'Whitney A', 'Whitney B', "fira-sans",  Helvetica,  Arial,  sans-serif;
                font-size: 13px;
                letter-spacing: 1px;
                font-weight: 900;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            a:hover{
                color: #3c3c3c;
                transition: color 0.3s ease;
            }
        }
    }
}
div.nav_bg {
    height: 72px;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #fff;
    z-index: -10;
    position: fixed;
    top: 0;
}

/*==============================================================================

GLOBAL CONTENT

==============================================================================*/

div.content {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    background-color: #f7f7f7;
    z-index: 1;
    margin-top: 72px;
}

/*==============================================================================

BLOG (GLOBAL INDEX)

==============================================================================*/

div.blog-container {
    width: 100%;
    section.post{
        padding: 4em 0 2em;
        section.post-title{
            max-width: 680px;
            margin: 0 auto;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            a.post-title, h1.post-title{
                margin-bottom: 0.2em;
                font-family: 'Mercury Display A', 'Mercury Display B',  Helvetica,  Arial,  sans-serif;
                font-weight: 700;
                font-size: 2em;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                line-height: 1.2em;
                color: #f2462a;
                text-decoration: none;
                margin-top: 0;
            }
            a.post-title:hover {
                color: #e54429;
                transition: color 0.3s ease;
            }
            span.post-meta {
                display: block;
                text-transform: uppercase;
                color: #b2b2b1;
                font-family: 'Whitney A', 'Whitney B', "fira-sans",  Helvetica,  Arial,  sans-serif;
                font-weight: 500;
                font-size: 13px;
                letter-spacing: 1px;
                margin-bottom: 1em;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        p.post-excerpt {
            font-family: 'Whitney A', 'Whitney B', "fira-sans", Helvetica,  Arial,  sans-serif;
            font-weight: 100;
            font-size: 0.9em;
            line-height: 1.8em;
            margin-bottom: 0;
            margin-top: 0;
            max-width: 680px;
            margin: 0 auto;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        p, h2, h3, h4, h5, h6, pre{
            max-width: 680px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 20px;
            padding-right: 20px;
        }
        img{
            max-width: 800px;
            height: auto;
        }
        pre{
            background-color: #fff;
            padding: 0 9px;
            border-radius: 2px;
            border: 1px solid #dddbdb;
            box-sizing: border-box;
            margin: 20px auto;
            code{
                white-space: pre-wrap;
            }
        }
        ul, ol{
            max-width: 680px;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Mercury SSm A', 'Mercury SSm B', Helvetica,  Arial,  sans-serif;
            font-weight: 100;
            font-size: 0.9em;
            line-height: 1.8em;
            padding-left: 20px;
            padding-right: 20px;
            box-sizing: border-box;
            @media screen and (max-width: 720px){
                margin-left: 20px;
            }
        }
    }
    section.post:last-child{
        padding-bottom: 6em;
    }
}

p.post-excerpt{
    margin-top: 12px;
}

/*==============================================================================

BLOG (SINGLE POST)

==============================================================================*/

body#blog.single{
    section.post{
        p{
            font-weight: 100;
            img{
                width: 100%;
                height: auto;
            }
            code{
                background-color: #fff;
                padding: 3px 6px;
                border-radius: 2px;
                border: 1px solid #dddbdb;
            }
        }
        h1.post-title{
            color: #3c3c3c;
        }
        div.image{
            max-width: 800px;
            width: 100%;
            padding: 36px 0;
            margin-left: auto;
            margin-right: auto;
            img{
                width: 100%;
            }
            span{
                position: absolute;
                font-family: 'Whitney A', 'Whitney B', "fira-sans",  Helvetica,  Arial,  sans-serif;
                color: #878787;
                border-top: 1px solid #eaeaea;
                width: 100%;
                max-width: 800px;
                padding: 4px 12px;
                font-size: 80%;
                margin-top: -4px;
                box-sizing: border-box;
                text-align: center;
                margin-bottom: 32px;
            }
        }
        div.full-width-image{
            width: 100%;
            padding: 36px 0;
            position: relative;
            img{
                width: 100%;
                height: auto;
                max-width: inherit;
            }
            span{
                position: absolute;
                font-family: 'Whitney A', 'Whitney B', "fira-sans",  Helvetica,  Arial,  sans-serif;
                color: #878787;
                border-top: 1px solid #eaeaea;
                width: 100%;
                padding: 4px 12px;
                font-size: 80%;
                margin-top: -4px;
                text-align: center;
                margin-bottom: 32px;
            }
        }
        table{
            max-width: 680px;
            margin: 1.6em auto;
            padding-left: 20px;
            padding-right: 20px;
            border-collapse: collapse;
            font-family: 'Whitney A', 'Whitney B', "fira-sans",  Helvetica,  Arial,  sans-serif;
            tbody{
                tr{
                    td, th{
                        padding: 10px 18px;
                        border: 1px solid #eaeaea;
                    }
                }
            }
        }
        div.share{
            text-align: center;
            margin-top: 120px;
            a.tweet-post{
                border-radius: 5px;
                background-color: #fc411b;
                text-decoration: none;
                padding-bottom: 0;
                color: white;
                font-weight: 700;
                padding: 12px 18px;
                font-size: 1.1em;
                font-family: 'Whitney A', 'Whitney B', "fira-sans",  Helvetica,  Arial,  sans-serif;
                font-weight: 600;
                span{
                    display: inline-block;
                    vertical-align: middle;
                    img{
                        height: 1em;
                        width: auto;
                        margin-right: 12px;
                    }
                }
            }
            a.tweet-post:hover{
                background-color: #cc3219;
                transition: all 0.3s ease;
                cursor: pointer;
            }
        }
    }
}

/*==============================================================================

HOME (ABOUT)

==============================================================================*/

body#about{
    div.content{
        section.home-header{
            overflow: hidden;
            text-align: center;

            h1{
                font-family: 'Mercury Display A', 'Mercury Display B',  Helvetica,  Arial,  sans-serif;
                font-size: 4em;
                color: #3c3c3c;
                margin: 0 auto;
                padding: 0.8em 0 0.6em;
                top: 36px;
                line-height: 1.2em;
                width: 100%;
                font-weight: 700;
            }
            h1:after{
                content: "DESIGNER";
                display: block;
                letter-spacing: 3px;
                font-size: 0.2em;
                margin-top: -10px;
                font-family: 'Whitney A', 'Whitney B', "fira-sans",  Helvetica,  Arial,  sans-serif;
                font-weight: 900;
                color: #878786;
            }
            img{
                margin: 0 auto;
                width: 80%;
                height: auto;
                @media screen and (max-width: 800px){
                    width: 120%;
                    height: auto;
                    margin-left: -10%;
                }
                @media screen and (max-width: 400px){
                    width: 200%;
                    height: auto;
                    margin-left: -50%;
                }
            }
        }
        section.content.bio{
            border-bottom: 1px solid #eaeaea;
            div{
                max-width: 640px;
                margin: 0 auto;
                padding: 2em 10px;
                p{
                    a{
                        color: #fc411b;
                        text-decoration: none;
                        padding-bottom: 0;
                    }
                    a:hover{
                        color: #cc3219;
                        text-decoration: underline;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
        section.content.blog-container{
            div{
                width: 80%;
                max-width: 940px;
                margin: 0 auto;
                padding: 4em 10px 4em;
                display: -webkit-flex;
                display: flex;
                @media screen and (max-width: 800px){
                    display: block;
                }
                @media screen and (max-width: 1200px){
                    width: 100%;
                    max-width: 100%;
                    box-sizing: border-box;
                }
                section.post{
                    height: 180px;
                    display: inline-block;
                    margin: 0;
                    -webkit-flex: 1;
                    flex: 1;
                    margin: 0 10px;
                    position: relative;
                    background-size: cover;
                    @media screen and (max-width: 800px){
                        display: block;
                        margin: 1em auto;
                    }
                    a{
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        h3{
                            color: white;
                            margin: 0;
                            text-align: center;
                            position: absolute;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                            width: 100%;
                            padding: 0 18px;
                            box-sizing: border-box;
                        }
                    }
                    a:hover{
                        background-color: rgba(0,0,0,0.1);
                        transition: all 0.2s ease;
                    }
                }
            }
        }
    }
}

/*==============================================================================

CONTACT

==============================================================================*/

body#contact{
    height: 100%;
    height: calc(100% - 127px);
    div.content{
        height: 100%;
        section{
            height: 100%;
            div{
                text-align: center;
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                p{
                    a{
                        border-radius: 3px;
                        background-color: #fc411b;
                        text-decoration: none;
                        padding-bottom: 0;
                        color: white;
                        font-weight: 700;
                        padding: 12px 18px;
                        font-size: 1.1em;
                    }
                    a:hover{
                        background-color: #cc3219;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}

/*==============================================================================

WORK (ABOUT)

==============================================================================*/

body#work{
    height: 100%;
    height: calc(100% - 127px);
    div.content{
        height: 100%;
        section{
            height: 100%;
            div{
                text-align: center;
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
}

/*==============================================================================

FOOTER

==============================================================================*/

footer{
    padding: 10px 10px 10px 20px;
    border-top: 1px solid #eaeaea;
    p{
        font-family: 'Mercury SSm A', 'Mercury SSm B', Helvetica,  Arial,  sans-serif;
        font-size: 14px;
        margin: 0;
        color: #a8a8a8;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 30px);
        font-weight: 100;
    }
}
footer a.icon-twitter {
    color: #55acee;
}
