<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			{% block extra_meta %}
			{% endblock %}

			<meta name="p:domain_verify" content="814dee3305f90fdf62803efc72280917"/>

			<title>
				{% block title %}David Ingledow{% endblock %}
			</title>

			<link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}img/icons/apple-touch-icon-57x57.png">
			<link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}img/icons/apple-touch-icon-114x114.png">
			<link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}img/icons/apple-touch-icon-72x72.png">
			<link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}img/icons/apple-touch-icon-144x144.png">
			<link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}img/icons/apple-touch-icon-60x60.png">
			<link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}img/icons/apple-touch-icon-120x120.png">
			<link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}img/icons/apple-touch-icon-76x76.png">
			<link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}img/icons/apple-touch-icon-152x152.png">
			<link rel="icon" type="image/png" href="{{STATIC_URL}}img/icons/favicon-196x196.png" sizes="196x196">
			<link rel="icon" type="image/png" href="{{STATIC_URL}}img/icons/favicon-160x160.png" sizes="160x160">
			<link rel="icon" type="image/png" href="{{STATIC_URL}}img/icons/favicon-96x96.png" sizes="96x96">
			<link rel="icon" type="image/png" href="{{STATIC_URL}}img/icons/favicon-16x16.png" sizes="16x16">
			<link rel="icon" type="image/png" href="{{STATIC_URL}}img/icons/favicon-32x32.png" sizes="32x32">
			<meta name="msapplication-TileColor" content="#da532c">
			<meta name="msapplication-TileImage" content="{{STATIC_URL}}img/icons/mstile-144x144.png">

			<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7777472/762142/css/fonts.css" />

			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-37251060-1', 'ingledow.co.uk');
			  ga('send', 'pageview');

			</script>

			{% block css %}
				<link
					rel="stylesheet"
					type="text/css"
					href="{{STATIC_URL}}min/css/global.css">
			{% endblock %}
			{% block extra_css %}
			{% endblock %}

			{% block extra_js %}
			{% endblock %}

		{% endblock %}
	</head>

	<body id="{% block body_id %}{% endblock %}"
		  class="{% block body_class %}{% endblock %}">

    {% block body %}

		{% block nav %}
			<nav>
			    <ul>
			        <li><a href="/">ABOUT</a></li>
			        <li><a href="/blog/">BLOG</a></li>
			        <li><a href="/work/">WORK</a></li>
			        <li><a href="/contact/">CONTACT</a></li>
			    </ul>
			</nav>
		{% endblock %}

			{% block container %}
				{% block nav_bg %}
					<div class="nav_bg">
					</div>
				{% endblock %}

				<div class="content">
					{% block content %}
					{% endblock %}
				</div>

			{% endblock %}

		{% block footer %}
		<footer>
			<p>David Ingledow &copy; 2014</p>
		    <a class="icon-twitter" href="https://twitter.com/dingledow">
		    </a>
		    <a href="https://plus.google.com/108117619306984245111?rel=author"></a>
		</footer>
		{% endblock footer %}

	{% endblock %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

	</body>
</html>
